CONSUMER_KEY = 'twitter-key'
CONSUMER_SECRET = 'twitter-secret-key'
ACCESS_TOKEN = 'twitter-access-token'
ACCESS_TOKEN_SECRET = 'twitter-access-toke-secret'
URL = 'https://docs.google.com/spreadsheets/yourdocument'
JSON_KEYFILE_NAME = 'yourfile.json'
